.slide-logo
  position absolute
  top 0
  left 0

.slide-links
  position absolute
  top 15px
  right 15px
  font-size 15px
  text-align right

  a
    margin-left 0.2em

.breadcrumbs
  position absolute
  top 15px
  left 5.333em
  font-size 15px
  color #c0c0c0

  a
    color #c0c0c0
    text-decoration none

    &:hover
      text-decoration underline
